<div>
  {% for block in section.blocks %}
    <div>
      <h4>{{ linklists[block.settings.links].title }}</h4>
      {% for link in linklists[block.settings.links].links %}
        <p>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </p>
      {% endfor %}
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Menu Blocks",
  "blocks": [
    {
      "name": "Group",
      "type": "group",
      "settings": [
        {
          "id": "links",
          "label": "Links",
          "type": "link_list"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Menu Blocks",
      "blocks": [
        {
          "type": "group",
          "settings": {
            "links": "my-menu-1"
          }
        },
        {
          "type": "group",
          "settings": {
            "links": "my-menu-2"
          }
        }
      ]
    }
  ]
}
{% endschema %}
