.faq {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 16px;
}

.faq--heading {
  font-size: 24px;
  font-weight: 800;
  margin: 0;
  text-align: center;
}

.faq--items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faq--item {
  border-bottom: 1px solid gray;
}

.faq--title {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  justify-content: space-between;
  padding: 20px 0;
  text-align: left;
  width: 100%;
}

.faq--icon-wrapper,
.faq--icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.faq--icon-wrapper {
  height: 24px;
  width: 24px;
}

.faq--icon {
  height: 12px;
  transition: 0.3s;
  width: 12px;
}

.faq--item--expanded .faq--icon {
  transform: rotate(180deg);
}

.faq--content-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}

/*
Using a fixed max-height is wrong solution because,
in a real project, the content can be larger.
I copied this from learnhub-evdev.myshopify.com just to avoid spending time on additional JS code.
In a real project, the element's inline height should be set to element.scrollHeight or 0,
and the height of the expanded element should be updated when the window is resized.
*/

.faq--item--expanded .faq--content-wrapper {  
  max-height: 300px;
}

.faq--content {
  color: gray;
  margin: 0;
  padding: 0 24px 18px 0;
}
