.music-releases {
  width: 100%;
}

.music-releases--container {
  margin: 0 auto;
  padding: 34px 20px 16px;
  width: 1000px;
}

.music-releases--heading {
  color: #000;
  font-size: 34px;
  margin: 0;
  text-transform: uppercase;
}

.music-releases--grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
}

.music-releases--item {
  text-align: center;
}

.music-releases--image {
  aspect-ratio: 1;
  display: block;
  object-fit: cover;
  max-width: 100%;
}

.music-releases--title {
  color: #000;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 30px;
  margin: 0;
  text-align: left;
}

.music-releases--subtitle {
  color: #000;
  font-size: 10px;
  letter-spacing: normal;
  line-height: 16px;
  margin: 0;
  text-align: left;
}
