.sport-blocks {
  width: 100%;
}

.sport-blocks--container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 14px 20px 24px;
}

.sport-blocks--heading {
  color: #000;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  transform: scaleX(0.6);
}

.sport-blocks--grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 24px;
}

.sport-blocks--item {
  text-align: center;
}

.sport-blocks--image {
  aspect-ratio: 1;
  display: block;
  height: auto;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.sport-blocks--item-title {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  margin: 12px 0 0;
  text-transform: uppercase;
  transform: scaleX(0.7);
}

.sport-blocks--item-description {
  color: #666;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 16px;
  margin: 8px 0 0;
  padding: 0 50px;
}
